body{
    background: #333;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 70px;
    font-family: 'Dosis', sans-serif;

}
section{
 display block;
 max-width: 1000px;
 max-height: 1200px;
 background: #2C3D51;
 margin: 0 auto 1em;
 /*position: relative;*/
}

h1{
font-size: 150px;
  color: #36D0E3;
  text-align: center;
}

h2.secondheader{
  font-size: 90px;
  text-align: center;
  color: #06F3E7


}
p.message{
  color: #08F5CC;
  text-align: center;
}

form.name{
  color: #09F345;
  text-align: center;
}

input.style{
  margin-right: 100px;
}
